@import "tailwindcss";

/* DaisyUI sadece "light" temasını bilsin */
@plugin "daisyui" {
  themes: [ "light"];
}
@theme {
  /* Karanlık mod sınıfını devre dışı bırakır */
  --color-dark: transparent;
}

/* DaisyUI'ı "light" modda sabitlemek için */
@layer base {
  :root {
    @apply [data-theme=light];
  }
}
/* Tarayıcının kendi kendine renkleri değiştirmesini engelle */
html {
  color-scheme: light !important;
}

/* Tüm öğelerin tarayıcı tarafından otomatik koyulaştırılmasını engelle */
* {
  filter: none !important;
}
